.Inf2{
    position: relative;
    display: flex;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 100px;
    background: rgb(2, 1, 45);
}

.parrafo2{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px 5px 10px;
    background: rgb(2, 1, 45);
}
.img2{
    width: 30vw;
    border-radius: 2%;
    background: #eceaea;
    box-shadow: 0px 0px 10px #ffffff;
}
.parrafo2 p{
    color: #fff;
    font-size: 3.2vw;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3px;
}
